body {
    background-color: rgb(172, 213, 200);
    text-align: center;
}
.heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.wholeBody {
    text-align: center;
    margin-top: 10%;
}

.pasteText {
    min-width: 20%;
    max-width: 25%;
    padding: 12px 20px;
    color: rgb(0, 0, 0);
    background-color: #d0eded;
    border-radius: 6px;
    border: 0;
    outline: 0;
    font-size: medium;
}

.btn {
    padding: 12px 12px;
    color: #fff;
    background-color: #4c6fff;
    border-radius: 6px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: medium;
}

.shortURL {
    padding: 12px 12px;
    color: rgb(0, 0, 0);
    background-color: #d0eded;
    border-radius: 6px;
    outline: 0;
    border: 0;
    min-width: 23%;
    margin-top: 1%;
    font-size: medium;
    
}

.copyBTN {
    padding: 12px 12px;
    background-color: #adaed8;
    border-radius: 6px;
    outline: 0;
    border: 0;
    font-size: medium;
}

.copyBTN:hover {
    background-color: rgb(99, 193, 129);
    transition: 0.2s;
}
.btn:hover {
    background-color: rgb(132, 125, 236);
    transition: 0.2s;
}